:root {
    --nav-h: 5vh;
    --bg: #0a0a0a;
    --primary: #6366F1;
    --accent: #8B5CF6;
    --text: #fff;
    --radius: 14px;
    font-family: sans-serif;
}

body {
    /* height: 100%; */
    margin: 0;
    background: var(--bg);
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border-radius: var(--radius);
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}