nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius);
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

nav::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: 3px solid transparent;
    background: linear-gradient(#746d6d, #28a2f3) border-box;
    mask: linear-gradient(black) border-box, linear-gradient(black) padding-box;
    mask-composite: subtract;
}

.rightContent {
    margin-left: 1rem;
}

.middleContent {
    display: flex;
}

.middleContent div {
    margin: 0 2rem;
}

.leftContent {
    margin-right: 1rem;
}

.btnContact {
    background-color: #28a2f3;
    color: #fff;
    font-size: 1rem;
}

.btnContact:hover {
    background-color: #4cb1f5;
    -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
}

.btnContact:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}